*{
    box-sizing: border-box;
}
body{
    width: 560px;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(66, 66, 143);
}
.header__h1{
    font-size: 25px;
    margin-left: 50px;
}
.header__list{
    list-style: none;
    margin-right: 10px;
}
.header__menu{
    display: flex;
    justify-content: space-between;
}
.--header-list--bold{
    font-weight: 900;
}
.paid{
    background-color: orange;
    height: 50px;
}
.--items-plus{
    width: 20px;
    padding-top: 10px;
    margin-left: 15px;
}
.paid__items{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}
.section__check{
    background-color: rgb(223, 150, 15);
    
}
.section__first-price{
    display: flex;
    justify-content: space-between;
    height: 40px;
    
}